<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="ServiceName" value="Windows Host"/>
        <add key="CanStop" value="true"/>
        <add key="CanPauseAndContinue" value="false"/>
        <add key="AutoLog" value="true"/>
        <add key="ProcessExe" value="C:\\dev\\HelloWorld\\HelloWorld\\bin\\Debug\\HelloWorld.exe"/>
        <add key="ProcessName" value="HelloWorld"/>
    </appSettings>
</configuration>